

{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="u-clearfix u-palette-1-base u-section-1" id="carousel_117c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-38 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-custom-font u-font-merriweather u-text u-text-default u-text-1">Wear mask<br>
                  </h2>
                  <p class="u-align-justify u-custom-font u-font-montserrat u-text u-text-palette-1-light-2 u-text-2"> The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe </p>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-22 u-image-1" data-image-width="6053" data-image-height="4376">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-top-sm u-valign-top-xs u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_8fd1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
                  <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width u-grey-5 u-group u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <p class="u-custom-font u-font-merriweather u-text u-text-default u-text-1">Use sanitizers frequently..</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-align-left-sm u-align-left-xs u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1600" data-image-height="1067">
                <div class="u-container-layout u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-3">
                  <div class="u-align-center u-container-style u-group u-palette-1-light-1 u-group-2">
                    <div class="u-container-layout u-valign-top">
                      <h2 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-2">01</h2>
                    </div>
                  </div>
                  <p class="u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-3"> You can be infected by breathing in the virus if you are near someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth</p>
                  <div class="u-container-style u-group u-palette-1-light-1 u-group-3">
                    <div class="u-container-layout u-valign-top">
                      <h2 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-4">02</h2>
                    </div>
                  </div>
                  <p class="u-text u-text-5">
                    <a href="https://en.wikipedia.org/wiki/Transmission_of_COVID-19" title="Transmission of COVID-19" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">COVID-19 transmits</a>&nbsp;when people breathe in air contaminated by droplets and small&nbsp;<a href="https://en.wikipedia.org/wiki/Airborne_transmission" title="Airborne transmission" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">airborne</a>&nbsp;particles containing the virus 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-light-2 u-section-3" id="carousel_b0d8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
                  <h2 class="u-text u-text-1">Social Distancing</h2>
                  <h2 class="u-custom-font u-font-merriweather u-text u-text-2">one.</h2>
                  <p class="u-custom-font u-font-montserrat u-text u-text-3"> Social distancing includes&nbsp;<a href="https://en.wikipedia.org/wiki/Infection_control" class="mw-redirect u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1" title="Infection control">infection control</a>&nbsp;actions intended to slow the spread of the disease by minimising close contact between individuals.
                  </p>
                  <h2 class="u-custom-font u-font-merriweather u-text u-text-4">two.</h2>
                  <p class="u-custom-font u-font-montserrat u-text u-text-5"> One may apply social distancing methods by staying at home, limiting travel, avoiding crowded areas, using no-contact greetings, and physically distancing themselves from others</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <img class="u-expanded-width u-image u-image-1" src="{% static 'images/post.jpg' %}" data-image-width="4403" data-image-height="2935">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_8d9a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-36 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                          <h2 class="u-custom-font u-font-merriweather u-text u-text-1">Vaccine</h2>
                          <p class="u-text u-text-default u-text-2"> Many countries have implemented phased distribution plans that prioritize those at highest risk of complications, such as the elderly, and those at high risk of exposure and transmission, such as healthcare workers.</p>
                        </div>
                      </div>
                      <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="2154" data-image-height="2964">
                        <div class="u-container-layout u-container-layout-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-container-style u-image u-layout-cell u-size-60 u-image-2" data-image-width="3984" data-image-height="2656">
                        <div class="u-container-layout u-container-layout-3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-24 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-image u-layout-cell u-size-60 u-image-3" data-image-width="5502" data-image-height="3668">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-base u-section-5" id="carousel_e352">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-default u-image-1" src="{% static 'images/doodle.jpg' %}" alt="" data-image-width="2652" data-image-height="3536">
        <div class="u-container-style u-expanded-width-xs u-group u-white u-group-1">
          <div class="u-container-layout u-container-layout-1"><span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 409.294 409.294" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c4d"></use></svg><svg class="u-svg-content" viewBox="0 0 409.294 409.294" id="svg-5c4d"><path d="m233.882 29.235v175.412h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412z"></path><path d="m0 204.647h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412h-175.412z"></path></svg></span>
            <h4 class="u-custom-font u-font-merriweather u-text u-text-1">Let's fight Covid&nbsp;</h4><span class="u-icon u-icon-circle u-text-palette-1-base u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 409.294 409.294" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0171"></use></svg><svg class="u-svg-content" viewBox="0 0 409.294 409.294" id="svg-0171"><path d="m233.882 29.235v175.412h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412z"></path><path d="m0 204.647h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412h-175.412z"></path></svg></span>
          </div>
        </div>
        <div class="u-video u-video-contain u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/Q_17QI_Z5KI?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </section>
{% endblock body %}